@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* 确保404页面也应用主题 */
html.dark body,
html.dark div,
html.dark section,
html.dark main {
  background-color: #191919;
  color: #ffffffcf;
}
